#div-random-number {
	--width: 800px;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}

#random-number {
	font-size: 700%;
}
#div-gerar {
	margin: auto;
	padding-top: 30px;
}
.pagination {
    margin: 0px 0;
}