<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa Interativa</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="script/ng-controller.js"></script>
    <script src="script/ng-factory.js"></script>
</head>
<body ng-app="searchApp" ng-controller="HomeController as homeCtrl">
    <div class="container">
        <div class="header">
            <input class="pesquisa" type="text" ng-model="inputSearch"> <input class="pesquisa" type="button" value="Pesquisar">
            <input class="adicionar" type="button" value="Adicionar" ng-click="homeCtrl.adicionarItem()">
        </div>
        <div class="resultado">
            <div class="card" ng-repeat="item in homeCtrl.listaLinks | filter: inputSearch track by $index">
                <div class="titulo">{{item.titulo}}</div>
                <div class="descricao">{{item.descricao}}</div>
                <div class="url">{{item.url}}</div>
            </div>
        </div>
    </div>
</body>
</html>