body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px; /* Adiciona um pouco de padding */
}

#quiz-container {
  width: 100%; /* Usa a largura total em telas pequenas */
  max-width: 800px; /* Limita a largura máxima em telas maiores */
  text-align: center;
  box-sizing: border-box;
}

#answers {
  margin: 0;
  padding: 0;
}

#answers li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 1em; /* Tamanho de fonte base */
}

#answers li:hover {
  background-color: #e9e9e9;
}

@media (max-width: 767px) {
  body {
    font-size: 18px; /* Torna o texto maior */
  }

  #answers li {
    font-size: 1.8em; /* Aumenta o tamanho da fonte dos itens de resposta para melhor interação */
    margin: 30px;
  }
}
